@using Blazored.LocalStorage
@using FribergBlazorApp.Services
@using System.Security.Claims
@inherits LayoutComponentBase
@inject AuthService authService
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div><p>@currentUser.Email</p></div> 
                    <button @onclick="HandleLogout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button @onclick="GoToLogin">Login</button>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="DefaultRealtor">
                <Authorized>
                    <p>TEST</p>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="SuperRealtor">
                <Authorized>
                    <p>Hej</p>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isAuthenticated;
    private AuthResponseDto currentUser = new AuthResponseDto();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentUser = await localStorage.GetItemAsync<AuthResponseDto>("currentUser");
            // currentUser = await ClaimsPrincipal.Current.
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching current user: {ex.Message}");
            // currentUser = null;
        }

        CheckAuthentication();
    }

    private async Task CheckAuthentication()
    {
        isAuthenticated = await authService.IsAuthenticated();
        StateHasChanged(); 
    }

    private void GoToLogin()
    {
        navigationManager.NavigateTo("/login");
    }

    private async Task HandleLogout()
    {
        await authService.Logout();
        navigationManager.NavigateTo("/");
    }
}