@page "/residencae-pictures/{Id:int}"
@inject HttpClient Http

<h3>Bilder</h3>

@foreach (var picture in picturesByHouse)
{
    <img src="@(picture.Picture)"/>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private List<PictureDto> allPictures = new List<PictureDto>();
    private List<PictureDto> picturesByHouse = new List<PictureDto>();


    protected override async Task OnInitializedAsync()
    {
        allPictures = await Http.GetFromJsonAsync<List<PictureDto>>("api/ResidencePictures");
        picturesByHouse = FilterByHouse(allPictures);
    }

    public List<PictureDto> FilterByHouse(List<PictureDto> list)
    {
        var filteredList = list.Where(x => x.ResidenceId == Id);
        return filteredList.ToList();
    }
}