@page "/prp"
@inject HttpClient client
@inject NavigationManager Navigation

<h3>Skapa en Bild</h3>

<input type="text" placeholder="Picture URL" @bind="picture.picture" />
<input type="number" placeholder="Residence ID" @bind="picture.ResidenceId" />
<button @onclick="CreatePicture">Skapa</button>

<p>@returnText</p>

@code {
    Picture picture = new Picture();

    string returnText = "";

    async Task CreatePicture()
    {
        try
        {
            HttpResponseMessage postResponse = await client.PostAsJsonAsync("api/residencepictures", picture);

            if (postResponse.IsSuccessStatusCode)
            {
                returnText = "Bild lyckades med att skapas!";
                Navigation.NavigateTo("/rp");
            }
            else
            {
                returnText = "Misslyckades med att skapa bild!: " + postResponse.ReasonPhrase;
            }
        }
        catch (Exception ex)
        {
            returnText = "Fel: " + ex.Message;
        }
    }
}