@* Author: Pontus Lerman Co-author: Christian Alp*@
@page "/ga"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Mäklarbyrår</h3>

<div style="position: absolute; right: 50px;">
    <input type="text" @bind:event="oninput" @bind="searchTerm" placeholder="Sök..." />
</div>

@if (agencies == null)
{
    <h3>Loading...</h3>
}
else if (errorString != null)
{
    <h3>@errorString</h3>
}
else
{
   <table>
    <thead>
        <th></th>
        <th>Mäklarbyråer</th>
    </thead>
    <tbody>
        @foreach(var agency in FilteredAgencies())
        {
            <tr>
                <td>@agency.AgencyLogoURL</td>
                <td>@agency.AgencyName</td>
                    <td><button class="btn btn-warning" onclick=@(() =>NavigationManager.NavigateTo($"/cea/{agency.AgencyId}"))>Ändra</button></td>
                    <td><button class="btn btn-danger" onclick=@(() =>NavigationManager.NavigateTo($"/remove-agency/{agency.AgencyId}"))>Ta bort</button></td>
            </tr>    
        }       
    </tbody>   
</table> 
<button class="btn btn-primary" onclick=@(() =>NavigationManager.NavigateTo($"/cea"))>Skapa</button>
}  

@code {
    List<AgencyDto> agencies = new List<AgencyDto>();
    string errorString;
    public string? searchTerm;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            agencies = await Http.GetFromJsonAsync<List<AgencyDto>>("api/agencies");
        }
        catch (Exception ex)
        {
            errorString = $"Exception: {ex.Message}";
        }     
    }

    protected IEnumerable<AgencyDto> FilteredAgencies()
    {
        var filteredAgencies = agencies.AsEnumerable();

        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredAgencies = filteredAgencies.Where(x =>
                x.AgencyName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                x.AgencyDescription.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));
        }

        return filteredAgencies;
    }
}
