@* author: Johan Krångh *@
@page "/edit-municipality"
@page "/edit-municipality/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HomeRedirect HomeRedirect

<AuthorizeView>
    <Authorized Context="editmunicipality1">
        @if (Id == null)
        {
            <h3>Lägg till kommun</h3>
        }
        else
        {
            <h3>Ändra @Municipality.MunicipalityName</h3>
        }

        <EditForm Model="@Municipality" OnSubmit="HandleSubmit" Context="editmunicipality2">
            <div>
                <label for="MunicipalityName">Kommunnamn</label>
                <InputText id="MunicipalityName" @bind-Value="Municipality.MunicipalityName" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Spara</button>
            <p>@errorString</p>
        </EditForm>

    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int? Id { get; set; }
    public MunicipalityDto Municipality { get; set; } = new MunicipalityDto();
    public string errorString = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        HomeRedirect.CheckIfDefaultRealtorOrSuperRealtor(authState.User);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            var result = await Http.GetFromJsonAsync<MunicipalityDto>($"api/municipalities/{Id}");
            if (result != null)
            {
                Municipality = result;
            }
        }
    }

    async Task HandleSubmit()
    {
        if (Id != null)
        {
            var result = await Http.PutAsJsonAsync($"api/municipalities/{Id}", Municipality);
            NavigationManager.NavigateTo("municipalities");
        }
        else
        {
            var result = await Http.PostAsJsonAsync($"api/municipalities", Municipality);
            Municipality = await result.Content.ReadFromJsonAsync<MunicipalityDto>();
            NavigationManager.NavigateTo("municipalities");
        }
    }
}

