@* author: Johan Krångh, Pontus Lerman*@
@page "/municipalities"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HomeRedirect HomeRedirect

<AuthorizeView>
    <Authorized>
        <h3>Kommuner</h3>

        @if (municipalities == null)
        {
            <p><em>Laddar...</em></p>
            <p>@errorString</p>
        }
        else if (errorString != null)
        {
            <p>An error occurred: @errorString</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Kommunnamn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in municipalities)
                    {
                        <tr>
                            <td>@m.MunicipalityName</td>
                            <td><button class="btn btn-outline-primary" @onclick="@(() => EditMunicipality(m.Id))">Ändra</button></td>
                            <AuthorizeView Roles="SuperRealtor">
                                <Authorized Context="municipalities">
                                    <td><a class="btn btn-danger" href="remove-municipality/@m.Id">Ta Bort</a></td>
                                </Authorized>
                            </AuthorizeView>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <button class="btn btn-primary" @onclick="AddMunicipality">Lägg till kommun</button>
    </Authorized>
</AuthorizeView>

@code {
    private List<MunicipalityDto>? municipalities;
    private string? errorString;

    protected override async Task OnInitializedAsync()
    {     
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            await HomeRedirect.CheckIfDefaultRealtorOrSuperRealtor(authState.User);
            municipalities = await Http.GetFromJsonAsync<List<MunicipalityDto>>("api/municipalities");
        }
        catch (Exception ex)
        {
            errorString = $"Exception: {ex.Message}";
        }
    }

    void AddMunicipality()
    {
        NavManager.NavigateTo("edit-municipality");
    }

    void EditMunicipality(int id)
    {
        NavManager.NavigateTo($"edit-municipality/{id}");
    }
}