@page "/dc/{id}"
@inject HttpClient client
@inject NavigationManager Navigation

<h3>Radera kategori</h3>

<p>Är du säker på att du vill radera denna kategori?</p>

<button @onclick="RemoveCategory">Ja, Radera</button>

<p>@returnText</p>

@code {
    string returnText = "";

    [Parameter]
    public string? id { get; set; }

    async Task RemoveCategory()
    {
        try
        {
            HttpResponseMessage response = await client.DeleteAsync($"api/category/{id}");
            if (response.IsSuccessStatusCode)
            {
                returnText = "Lyckades med att radera kategori!";
                Navigation.NavigateTo("/c");
            }
            else
            {
                returnText = "Misslyckades med att radera kategori!: " + response.ReasonPhrase;
            }
        }
        catch (Exception ex)
        {
            returnText = "Fel: " + ex.Message;
        }
    }
}
