@page "/c"
@inject HttpClient Http
@inject NavigationManager Navigation
@using FribergBlazorApp.Helpers

<h3>Kategorier</h3>
<div style="position: absolute; right: 50px;">
    <input type="text" @bind:event="oninput" @bind="searchTerm" placeholder="Sök..." />
</div>
<button @onclick="AddCategory">Skapa en ny kategori</button>

@if (categories == null)
{
    <p><em>Laddar...</em></p>
}
else if (errorString != null)
{
    <p>Ett problem uppstod: @errorString</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Namn</th>
                <th>Val</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in FilteredItems())
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.name</td>
                    <td>
                        <button @onclick="() => EditCategory(category.Id)">Ändra</button>
                        <button @onclick="() => RemoveCategory(category.Id)">Radera </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category>? categories;
    private string? errorString;
    private string? searchTerm;
    private SearchFilter<Category>? filter;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<List<Category>>("https://localhost:7280/api/category");
            filter = new SearchFilter<Category>(categories, c => c.name);
        }
        catch (Exception ex)
        {
            errorString = $"Felmeddelande: {ex.Message}";
        }
    }

    private IEnumerable<Category> FilteredItems()
    {
        if (filter != null)
        {
            filter.SearchTerm = searchTerm;
            return filter.FilteredItems;
        }
        return categories ?? Enumerable.Empty<Category>();
    }

    private void AddCategory()
    {
        Navigation.NavigateTo("/pc");
    }

    private void EditCategory(int categoryId)
    {
        Navigation.NavigateTo($"/ec/{categoryId}");
    }

    private void RemoveCategory(int categoryId)
    {
        Navigation.NavigateTo($"/dc/{categoryId}");
    }
}
