@page "/drp/{id}"
@inject HttpClient client
@inject NavigationManager Navigation

<h3>Radera Bilder</h3>

<p>Är du säker på att du vill radera denna bild?</p>

<button @onclick="RemovePicture">Ja, Radera</button>

<p>@returnText</p>

@code {
    string returnText = "";

    [Parameter]
    public string? id { get; set; }

    async Task RemovePicture()
    {
        try
        {
            HttpResponseMessage response = await client.DeleteAsync($"api/residencepictures/{id}");
            if (response.IsSuccessStatusCode)
            {
                returnText = "Lyckades med att radera bilden!";
                Navigation.NavigateTo("/rp");
            }
            else
            {
                returnText = "Misslyckades med att radera bild!: " + response.ReasonPhrase;
            }
        }
        catch (Exception ex)
        {
            returnText = "Fels: " + ex.Message;
        }
    }
}
