@page "/categories"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Categories</h3>
<td><button @onclick="() => AddCategory()">Create</button></td>

@if (categories == null)
{
    <p><em>Loading...</em></p>
    <p>@errorString</p>
}
else if (errorString != null)
{
    <p>An error occurred: @errorString</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>    
                <th>Action</th>             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categories)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td><button @onclick="() => EditCategory(item.id)">Edit</button></td>
                    <td><button @onclick="() => RemoveCategory(item.id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category> categories;
    private string categoriesString;
    private string? errorString;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<List<Category>>("https://localhost:7280/api/category");
        }
        catch (Exception ex)
        {
            errorString = $"Exception: {ex.Message}";
        }
    }

    private void AddCategory()
    {
        Navigation.NavigateTo("/postCategories");
    }

    private void EditCategory(int categoryId)
    {
        Navigation.NavigateTo($"/editcategory/{categoryId}");
    }

    private void RemoveCategory(int categoryId)
    {
        Navigation.NavigateTo($"deletecategory/{categoryId}");
    }
}
