@page "/postcategory"
@using System.Text.Json
@using System.Text

@inject HttpClient client

<h3>Post Category</h3>

@* <p>@content.ToString()</p> *@

<p>@returnText</p>
@code {
    Category category = new Category() {name = "Test" };
    string? returnText = "";
    HttpContent content;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //content = new StringContent(JsonSerializer.Serialize(category), Encoding.UTF8, "application/Json");

            var postResponse = await client.PostAsJsonAsync("api/category", category);

            HttpResponseMessage message = await client.GetAsync("api/category");

            returnText = await message.Content.ReadAsStringAsync();
        }
        catch (Exception ex)
        {
            
            returnText = ex.ToString();
        }
        
    }

}
