@page "/pc"
@inject HttpClient client
@inject NavigationManager Navigation

<h5>Skapa en Kategori</h5>

<input type="text" @bind="category.name" />
<button @onclick="CreateCategory">Skapa</button>

<p>@returnText</p>

@code {
    Category category = new Category();
    string returnText = "";

    async Task CreateCategory()
    {
        try
        {
            HttpResponseMessage postResponse = await client.PostAsJsonAsync("api/category", category);

            if (postResponse.IsSuccessStatusCode)
            {
                returnText = "Kategori lyckades att skapas!";
                Navigation.NavigateTo("/c");
            }
            else
            {
                returnText = "Misslyckades med att skapa Kategori!: " + postResponse.ReasonPhrase;
            }
        }
        catch (Exception ex)
        {
            returnText = "Fel: " + ex.Message;
        }
    }
}
